.col_6 {
  border: 1px black solid;
  width: 50%;
  height: 100px;
  float:left;
  box-sizing: border-box;
}

.col_4{
  border: 1px red dotted;
  height: 100px;
  width: 33.33%;
  float:left;
  box-sizing: border-box;
}

.col_8{
  border: 3px blue solid;
  height: 100px;
  width: 25%;
  float:left;
  box-sizing: border-box;
}
