body {
  margin: 0;
  background-color: #101211;
}

ul {
  margin: 0;
}

a {
  font-family: 'Proxima Nova';
  font-weight: 300;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container h1 {
  position: absolute;
  font-family: 'freight-big-pro';
  font-weight: 500;
  font-size: 150px;
  color: white;
  left: 354px;
  top: 170px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.container h2 {
  position: absolute;
  font-family: 'Open Sans';
  font-weight: 200;
  font-size:18px;
  color: #e9e9e9;
  left: 576px;
  top: 370px;
  margin: 0;
}

.containerhw {
  position: relative;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.homework1 {
  position: relative;
  display: inline-block;
  height: 600px;
  width: 710px;
  text-align: center;
}

.homework2 {
  display: inline-block;
  position: relative;
  height: 600px;
  width: 710px;
}

.homework1 a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 44px;
    font-weight: 800;
    top: 200px;
    left: 150px;
}

.homework2 a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 90px;
    font-weight: 800;
    top: 100px;
    left: 0px;
}

.line {
  position: absolute;
  height: 1px;
  width: 120px;
  top: 233px;
  left: 299px;
  background: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.HW {
  font-family: 'Proxima Nova';
  font-weight: 200;
  font-size: 24px;
  color: #ffffff;
  text-align: justify;
}
